@page "/AllRestaurants"
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<div class="row">
    <div class="[ col-xs-12 ]" id="RestarauntRow">
        <ul class="event-list">
            @{
                foreach (var item in RestarauntList)
                {
                    <li>
                        <img alt="My 24th Birthday!" src="@item.FieldRestaurantLogo" />
                        <div class="info">
                            <h5 class="title">@item.Title</h5>
                            <ul>
                                <li style="width:50%;"><a href="@item.FieldRestaurantLink"><span class="fa fa-globe"></span> Website</a></li>
                                <a href="/Restaurants/@item.Nid"><li style="width:50%;"><span class="fas fa-forward"></span> Read More</li></a>
                            </ul>
                        </div>
                        <div class="social">
                            <ul>
                                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fab fa-facebook-square"></span></a></li>
                                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fab fa-twitter-square"></span></a></li>
                                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fab fa-google-plus-square"></span></a></li>
                            </ul>
                        </div>
                    </li>

                }
            }
        </ul>
    </div>
</div>